@font-face {
  font-family: corporate-s;
  src:
    url(https://use.typekit.net/af/3c7647/000000000000000077359f4c/30/l?subset_id=2&fvd=n4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/3c7647/000000000000000077359f4c/30/d?subset_id=2&fvd=n4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/3c7647/000000000000000077359f4c/30/a?subset_id=2&fvd=n4&v=3)
      format("opentype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: corporate-s;
  src:
    url(https://use.typekit.net/af/85d891/000000000000000077359f64/30/l?subset_id=2&fvd=n5&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/85d891/000000000000000077359f64/30/d?subset_id=2&fvd=n5&v=3)
      format("woff"),
    url(https://use.typekit.net/af/85d891/000000000000000077359f64/30/a?subset_id=2&fvd=n5&v=3)
      format("opentype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: corporate-s;
  src:
    url(https://use.typekit.net/af/ce0f49/000000000000000077359f60/30/l?subset_id=2&fvd=n7&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/ce0f49/000000000000000077359f60/30/d?subset_id=2&fvd=n7&v=3)
      format("woff"),
    url(https://use.typekit.net/af/ce0f49/000000000000000077359f60/30/a?subset_id=2&fvd=n7&v=3)
      format("opentype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: corporate-s;
  src:
    url(https://use.typekit.net/af/73b9de/000000000000000077359f67/30/l?subset_id=2&fvd=n8&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/73b9de/000000000000000077359f67/30/d?subset_id=2&fvd=n8&v=3)
      format("woff"),
    url(https://use.typekit.net/af/73b9de/000000000000000077359f67/30/a?subset_id=2&fvd=n8&v=3)
      format("opentype");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: corporate-s;
  src:
    url(https://use.typekit.net/af/98fb79/000000000000000077359f6b/30/l?subset_id=2&fvd=i4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/98fb79/000000000000000077359f6b/30/d?subset_id=2&fvd=i4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/98fb79/000000000000000077359f6b/30/a?subset_id=2&fvd=i4&v=3)
      format("opentype");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: corporate-s;
  src:
    url(https://use.typekit.net/af/cf4904/000000000000000077359f6f/30/l?subset_id=2&fvd=i5&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/cf4904/000000000000000077359f6f/30/d?subset_id=2&fvd=i5&v=3)
      format("woff"),
    url(https://use.typekit.net/af/cf4904/000000000000000077359f6f/30/a?subset_id=2&fvd=i5&v=3)
      format("opentype");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: corporate-s;
  src:
    url(https://use.typekit.net/af/f44ee1/000000000000000077359f6e/30/l?subset_id=2&fvd=i7&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/f44ee1/000000000000000077359f6e/30/d?subset_id=2&fvd=i7&v=3)
      format("woff"),
    url(https://use.typekit.net/af/f44ee1/000000000000000077359f6e/30/a?subset_id=2&fvd=i7&v=3)
      format("opentype");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}
