.p-message.p-message-info
    color: inherit !important
    border: solid inherit !important
    background: #26262652 !important
    border-width: 0 0 0 0px !important
    justify-content: center
    align-items: center
    

 

.p-message.p-message-info .p-message-icon
   color: inherit !important

 

.p-message .p-message-text
   font-weight: 700 !important

 

.p-message.p-message-info .p-message-close
   color: inherit !important
