.p-toast
  .p-toast-message
    background: $sgs-blue
    border: solid $sgs-blue
    border-width: 0
    color:#fff
    .p-toast-message-content
      justify-content: space-between
      .p-toast-message-icon,
      .p-toast-icon-close
        color: #fff


.p-toast
  .p-toast-message
    &.p-toast-message-info
      background: $sgs-blue
      border: solid $sgs-blue
      border-width: 0
      color:#fff
      .p-toast-message-content
        .p-toast-message-icon,
        .p-toast-icon-close
          color: #fff
    &.p-toast-message-error
      background: $sgs-red
      border: solid $sgs-red
      border-width: 0
      color:#fff
      .p-toast-message-content
        .p-toast-message-icon,
        .p-toast-icon-close
          color: #fff
    &.p-toast-message-warn
      background: $sgs-yellow
      border: solid $sgs-yellow
      border-width: 0
      color:#333
      .p-toast-message-content
        .p-toast-message-icon,
        .p-toast-icon-close
          color: #333
    &.p-toast-message-success
      background: $sgs-green
      border: solid $sgs-green
      border-width: 0
      color:#333
      .p-toast-message-content
        .p-toast-message-icon,
        .p-toast-icon-close
          color: #333

.p-toast.multiple
  .detail
    max-height: 8rem
    overflow-y: auto
    margin: $s 0
    width: 100%
    padding-right: $s
    p
      margin: 0 !important
      white-space: nowrap
    ul
      padding-left: $s
      line-height: 1.2rem
      margin: $s50 0
      li
        margin-bottom: $s50          